.App {
  width: 320px;
  height: 300px;
  border: 2px solid blue;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.Start_Button,
.Stop_Button {
  width: 100px;
  height: 30px;
}
